.product-type {
    &-modal {
        width: 400px;
        max-height: 600px;
        box-shadow: none;
        outline: none;
        background-color: #eee;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
