@import './bootstrap.scss';
@import './layouts/layout.scss';
@import './login/login_page.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-wrapper{
  padding: 90px 0 0 270px;
  transition: .48s;
  &--responsive{
    padding: 90px 0 0 0;
  transition: .48s;
  }
}